$background: #f6cd90;

.dog {
  display: flex;
  flex-direction: column;
  background-color: $background;
  font-size: 25px;
  text-align: center;
  width: 33%;
  .dog-pic {
    cursor: pointer;
    margin: auto;
    width: 55%;
  }
  .dog-pic:hover {
    transform: scale(1.1);
  }
}
