.enhancement {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  h2 {
    background-color: #f6cd90;
    border: 2px solid black;
    font-size: 35px;
    width: 40%;
    text-align: center;
    margin: 12px 0 20px 0;
  }
  .enhancement-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    button {
      background-color: #f6cd90;
      font-size: 23px;
      width: 45%;
      margin: 8px 5px;
      padding: 15px 0;
      border: 2px solid black;
    }
  }
}
