#game {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 106px);
  .right-container {
    background-image: url("/dog-background.jpg");
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-color: black #f6cd90;
    z-index: 4;
  }
  > * {
    width: 33.33%;
    border: 1px solid black;
  }
}
