::-webkit-scrollbar {
  background-color: #dff4bc;
}

::-webkit-scrollbar-thumb {
  background-color: #f6cd90;
  border-radius: 20px;
}

#game {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 106px);
  .right-container {
    background-image: url("/dog-background.jpg");
    display: flex;
    flex-direction: column;
    overflow: auto;
    z-index: 4;
  }
  > * {
    width: 33.33%;
    border: 1px solid black;
  }
}
