$background: #eadea6;

.inventory {
  background-color: $background;
  background-image: url("/dog-background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 20px;
  width: 33%;
  z-index: 3;
  h2 {
    font-size: 35px;
  }
  .bottom-inventory-pic {
    img {
      margin-top: 10px;
      width: 80%;
    }
  }
  .inventory-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    p {
      background-color: #f6cd90;
      font-size: 23px;
      width: 45%;
      margin: 8px 5px;
      padding: 20px 0;
      border: 2px solid black;
    }
  }
  .inventory-title {
    background-color: #f6cd90;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 50px 0;
    img {
      height: 50px;
    }
  }
}
