$hover-color: rgba(245, 186, 131, 0.493);

.shop {
  width: 100%;
  font-family: "VT323", monospace;
  background-color: #eadea6;
  background-image: url("/dog-background.jpg");
  z-index: 3;
  div {
    height: 13vh;

    button {
      width: 100%;
      height: 100%;
      background-color: white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      padding: 0;
      background-color: #eadea6;
      p {
        margin-left: 20px;
        font-size: 30px;
        img {
          width: 20px;
        }
      }
      img {
        width: 20%;
        height: 90%;
      }
    }
    button:hover {
      background-color: $hover-color;
      cursor: pointer;
    }
  }
}
