.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(245, 187, 131);
  img {
    height: 70px;
    margin: 5px;
  }
  h1 {
    font-size: 60px;
    font-weight: 900;
  }
}
